@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');







.home__outer{
    width:100%;
    height:fit-content;
}
.home__inner{
    width:100%;
    height:100%;
}
.home__inner__inner{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.home__inner__section1{
    width:100%;
    height:96vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size:cover;
    background: linear-gradient(180deg, #EBF0FF 0%, #5874A6 0.01%, #2F528E 100%);
}
.home__inner__section1__img__outer{
    width:100%;
    height:100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.home__inner__section1__img{
    width: 90rem;
    height:80%;
}



.home__inner__section2{
    width:90%;
    height:fit-content;
    margin-bottom: 5rem;
}
.home__inner__section2__heading{
    width:100%;
    height:fit-content;
    font-size: 32px;
    color: #2F528E;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
}
.home__inner__section2__panel{
    width:100%;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home__inner__section2__panel__left{
    width:70%;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home__inner__section2__panel__left__each{
    width: 25%;
    height:5rem;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0px 5px 0px 5px;
    cursor: pointer;
}
.home__inner__section2__panel__right{
    width:20%;
    height:5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home__inner__section2__panel__right__button{
    width:7rem;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    background-color: #0AB1EE;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.home__inner__section2__display{
    width:100%;
    height:fit-content;
    margin: auto;
}
.loading__outer{
	width:100%;
	height:10rem;
	display: flex;
	align-items: center;
	justify-content: center;
    margin: auto;
}






.home__inner__section3{
    width:90%;
    height:fit-content;
}
.home__inner__section3__heading{
    width:100%;
    height:fit-content;
    font-size: 32px;
    color: #2F528E;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 2rem;
}
.home__inner__section3__display{
    width:100%;
    height:fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.home__inner__section3__display__left{
    width:40%;
    height:fit-content;
    padding: 0rem 1rem 0rem 1rem;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}



.home__inner__section3__display__right{
    width:45%;
    height:fit-content;
}
.home__inner__section3__display__right__vid{
    width:100%;
    height:20rem;
}
.home__inner__section3__display__right__vidbottom{
    width:100%;
    height:fit-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #2F528E;
}
.home__inner__section3__display__right__vidbottom__button{
    width:10rem;
    padding:10px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    color:white;
    background-color: #0AB1EE;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.home__inner__section3__viewmore{
    width:90%;
    height:5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5rem;
}
.home__inner__section3__viewmorebutton{
    width:9rem;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    background-color: #0AB1EE;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}







.home__inner__section4{
    width:90%;
    height:fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
    padding-top:2rem;
    padding-bottom: 2rem;
}
.home__inner__section4__img{
    width:36px;
    heighT:36px;
    margin-top: -2rem;
    margin-left: 20px;
    margin-bottom: 0.5rem;
    padding:5px;
    border-radius: 50%;
    background-color: white;
}
.home__inner__section4__left{
    width:600px;
    height:450px;
    background-color: #2F528E;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.home__inner__section4__left__out{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width:95%;
    height:400px;
    overflow-y: scroll;
    
}

/* scroll bar*/

/* width */
.home__inner__section4__left__out::-webkit-scrollbar {
    width: 6px;
    padding-left: 10px;
    padding-right: 10px;
}
  
/* Track */
.home__inner__section4__left__out::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: inset 0 0 20px #ffffff;
    border-radius: 4px;
    border-left: 1.5px solid transparent;
    border-right: 1.5px solid transparent;
}
  
/* Handle */
.home__inner__section4__left__out::-webkit-scrollbar-thumb {
    background: #00fdfd;
    padding:2rem;
    border-radius: 4px;
}


  