.career__outer{
    width:100%;
    height: fit-content;
}
.career__inner{
    width:100%;
    height:100%;
    font-family: 'Montserrat', sans-serif;
}





.career__inner__section2{
    width:100%;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #374E91;
}
.career__inner__section2__each{
    margin:1.5rem;
    width:fit-content;
    padding-left: 20px;
    padding-right: 20px;
    height:5rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skewX(-16deg);
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    color: #FFFFFF;
    cursor: pointer;
    background-image: linear-gradient(to right, #5213FB , #2EA2D4);
}
.career__inner__section2__each:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}























.career__inner__section7{
    width:100%;
    height:40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url('./../../assets/image/career/section7_background.svg');
}
.career__inner__section7__inner{
    width:80%;
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.career__inner__section7__inner__top{
    width:100%;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 250px;
    line-height: 305px;
    text-align: center;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.71);
}

.career__inner__section7__inner__mid{
    width:100%;
    height: fit-content;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 28px;
    color: #FFFFFF;
}




.career__inner__section8{
    width:100%;
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    margin-bottom: 4rem;
}
.career__inner__section8__head{
    width:90%;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #374E91;
}


.career__inner__section8__text{
    width:90%;
    height:fit-content;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 39px;
    color: #374E91;
    margin-bottom: 2rem;
}

.career__inner__section8__text{
    width:90%;
    height:7rem;
}