.WomenLeadershipCard1__outer{
    border: 1px solid black;
    width: 90rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border:1px solid black;
    margin-top:10rem;
    margin-bottom: 10rem;
    padding: 5rem 0 5rem 0;
}

.WomenLeadershipCard1__heading{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 48px;
color: #2F528E;
}