.WomenLeadershipCard1__outer{
    border: 1px solid black;
    width: 20rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border:1px solid black;
}

.WomenLeadershipCard1__heading{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 48px;
color: #2F528E;
}